
<h1 class="list"><%= spot.spot_name %></h1> 

<p class="date"><%= currentConditions.date %>, <%= currentConditions.hour %></p>


<div class="ui grid">
    <div class="six wide column centered">
        <div class="ui raised card fluid card">
            <div class="content margin-box">
                <div class="header left aligned">Current Conditions:</div>
                <div class="description">
                    <p class="left aligned">Size: <%= Number(currentConditions.size)-1 %> to <%= Number(currentConditions.size) %> ft</p>
                    <p class="left aligned">Swell Rating: <%= currentConditions.shape_detail.swell %></p>
                    <p class="left aligned">Tide Rating: <%= currentConditions.shape_detail.tide %></p>
                    <p class="left aligned">Wind Rating: <%= currentConditions.shape_detail.wind %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<p class="addcomment"><a href='#'>Add Comment</a></p>  

<div class="ui grid">
    <div class="six wide column centered">
        <% comments.forEach((c) => { %>
        <div class="ui raised card fluid card">
         <div class="content">
            <div class="header"><%=c.title %></div>
            <div class="description">
                <p><%=c.body %></p>
            </div>
            </div>
        <div class="extra content">
            <div class="right floated author"><%=c._by.name %> <%= moment(c.date).format("MMM DD YYYY HH:mm A")%></div>
            <div class="left floated author">                
                <% if (currentUser.name === c._by.name) { %>
                <form method="post" action="/comments/<%= c.id %>?_method=delete">

                <button type="submit">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
    </div>
        <% }) %>
    </div>
</div>


<div class="tiny ui modal comment">
    <i class="close icon"></i>
    <div class="header">
        <h3>Add Comment</h3>
    </div>
    <div class="ui padded">
        <form class="ui form margin" method="post" action="<%= spot.spot_id %>/comments">
            <div class="field">
                <label></label>
                <input type="text" name="title" placeholder="Title">
            </div>
            <div class="field">
                <label></label>
                <textarea type="text" name="body" placeholder="Body"></textarea>
            </div>
            <div class="field">
                <button type="submit" class="ui button">Submit</button>
            </div>
        </form>
    </div>
</div>